@model IEnumerable<Shopiphone.Models.MobilePhones>

@{
    ViewBag.Title = "Index";
}
@Html.AntiForgeryToken()
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <div class="container">
                <!-- GROUP MEMEBER CONTENT HERE -->
                <style>
                    .vl {
                        border-left: 6px solid green;
                        margin-bottom: -40px;
                        height: 35px;
                    }
                </style>

                <div class="vl"></div>

                <p style="margin-top: 0px;font-size: 30px" class="navbar-text">Items Remaining </p>
                <img style="max-width:1000px; margin-top: 10px; margin-left: -10px; margin-bottom: 100px" alt="Brand" src="~/Pictures/textimage1.png">

            </div>






            <style>
                .v2 {
                    border-left: 6px;
                    margin-bottom: -20px;
                    height: 100px;
                }
            </style>
            <div class="v2"></div>

            <style>
                .sidebar {
                    width: 225px;
                    height: 600px;
                    background-color: #228B22;
                    margin-top: -60px;
                }
            </style>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="sidebar">
                            <div>
                                <form>
                                    <button style="margin-top: 10px; margin-bottom: 5px; font-size: 16px;background: #6B8E23;" class="btn btn-primary btn-lg" type="submit" formaction="~/Mobile/Create">
                                        Add New Mobile Phones

                                    </button>
                                </form>
                            </div>
                            <div>
                                <form>
                                    <button style="margin-top: 10px; margin-bottom: 20px; font-size: 16px;background: #6B8E23;" class="btn btn-primary btn-lg" type="submit" formaction="secondhand.html">
                                        Confirm or Cancel Mobile

                                    </button>
                                </form>
                            </div>

                            <div>
                                <form>
                                    <button style=" font-size: 16px;width: 218px;background: #6B8E23" class="btn btn-primary btn-lg" type="submit" formaction="Sell N Purchase.html">Sale and Purchase List</button>
                                </form>
                            </div>
                        </div>

                    </div>

                    <div style="" class="col-sm-8">





                        <p>
                            @Html.ActionLink("Create New", "Create")
                        </p>
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.IME)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Brand)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Warranty)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Model)
                                </th>


                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IME)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Brand)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Warranty)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Model)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>


